.edit-flight-container {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.header-edit-flight {
  display: flex;
  background-color: #69ABC1;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-container-addf-dt {
  margin-left: 22%;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.button-group-edit-flight {
  display: flex;
  margin-left: 2%;
  gap: 25px;
}

.home-button-edit-flight {
  margin-top: 14%;
  margin-left: 30px;
  background-color: #ffffff;
  border: 2px solid #D4E9E2;
  color: #600;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.home-button-edit-flight:hover {
  background-color: #D4E9E2;
}

.edit-flight-logo {
  width: 100px;
  height: 85px;
}

.profile-section-edit-flight {
  display: flex;
  align-items: center;
  margin-right: 3%;
  gap: 20px;
}

.profile-image-edit-flight {
  width: 65px;
  height: 60px;
  border-radius: 50%;
}

.user-name-edit-flight {
  background-color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form-container-edit-flight {
  margin-left: 22%;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.save-button-edit-flight {
  margin-top: 1%;
  background-color: #69ABC1;
  border-color: #69ABC1;
  color: rgb(255, 255, 255);
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 8px;
  width: 753px;
  border-radius: 10px;
  cursor: pointer;
}

.save-button-edit-flight:hover {
  background-color: #69ABC1;
  border-color: #69ABC1;
}

.delete-button-edit {
  margin-top: 1%;
  color: #ffffff !important;  /*!important คือสำคัญสุดตัดการแทรกแซงใน css*/
  background-color: red;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 8px;
  width: 753px;
  border-radius: 10px;
}

.delete-button-edit:hover {
  background-color: red;
  border-color: red;
}
