.container {
    width: 1440px;
    height: 1024px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    width: 1563px;
    height: 120px;
    background-color: #69abc1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .header-logo {
    width: 80px;
    height: 70px;
    left: 65px;
    top: 127px;
    position: absolute;
  }

  /* .navbar-logo {
    display: flex;
    align-items: center;
    left: 200;
  } */
  
  /* .circle-logo {
    width: 90px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 100px;
  } */
  
  /* .navbar-item {
    background-color: white;
    width: 100px;
    height: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 5px;
    font-family: 'Bree Serif', serif;
    color: #5f212e;
    font-size: 16px;
    text-align: center;
  } */

  .navbar-links1 {
    position: absolute;
    width: 141.019px;
    height: 37.469px;
    top: 145px;
    left: 210px;
    background: #ffffff;
    z-index: 23;
    border-radius: 9.38px;
  }

  .home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 57px;
    height: 30px;
    top: 3.738px;
    left: calc(50% - 29.3px);
    color: #5f212e;
    font-family: Bree Serif, var(--default-font-family);
    font-size: 21.799999237060547px;
    font-weight: 400;
    line-height: 29.604px;
    text-align: center;
    white-space: nowrap;
    z-index: 24;
  }

  .navbar-links2 {
    position: absolute;
    width: 141.019px;
    height: 37.469px;
    top: 145px;
    left: 370.469px;
    background: #ffffff;
    z-index: 20;
    border-radius: 9.38px;
  }
  .flight {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 58px;
    height: 30px;
    top: 3.738px;
    left: calc(50% - 28.77px);
    color: #5f212e;
    font-family: Bree Serif, var(--default-font-family);
    font-size: 21.799999237060547px;
    font-weight: 400;
    line-height: 29.604px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
  }
  .navbar-links3 {
    position: absolute;
    width: 141.019px;
    height: 37.469px;
    top: 145px;
    left: 530.938px;
    background: #ffffff;
    z-index: 17;
    border-radius: 9.38px;
  }
  .benefits {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 30px;
    top: 4.087px;
    left: calc(50% - 40.24px);
    color: #5f212e;
    font-family: Bree Serif, var(--default-font-family);
    font-size: 21.799999237060547px;
    font-weight: 400;
    line-height: 29.604px;
    text-align: center;
    white-space: nowrap;
    z-index: 18;
  }
  .navbar-links4 {
    position: absolute;
    width: 141.019px;
    height: 37.469px;
    top: 145px;
    left: 690.406px;
    background: #ffffff;
    z-index: 14;
    border-radius: 9.38px;
  }
  .help-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 115px;
    height: 30px;
    top: 4.087px;
    left: calc(50% - 57.71px);
    color: #5f212e;
    font-family: Bree Serif, var(--default-font-family);
    font-size: 21.799999237060547px;
    font-weight: 400;
    line-height: 29.604px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
  .rectangle-5 {
    position: absolute;
    width: 486px;
    height: 37.469px;
    top: 44.5px;
    left: 812px;
    background: #ffffff;
    z-index: 12;
    border-radius: 9.38px;
  }

  /* .navbar-placeholder {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
  } */
  
  .airline-tabs {
    width: 111%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #d8d1be;
    padding: 20px 0;
    margin-top: 1px;
  }
  
  .tab {
    text-align: center;
    margin: 0 50px;
    font-family: 'Bree Serif', serif;
    color: #5f212e;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    margin-top: 50px;
  }
  
  .tab.active {
    border-bottom: 2px solid black;
  }
  
  .flight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 50px;
    margin-top: 20px;
  }
  
  .flight-card {
    border: 1px solid #5f212e;
    padding: 10px;
    background-color: white;
    text-align: center;
  }
  
  .flight-image {
    width: 100%;
    height: 150px;
    background-color: #5f212e;
    margin-bottom: 10px;
  }
  
  .flight-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flight-name {
    font-family: 'Bree Serif', serif;
    color: #5f212e;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .flight-price {
    display: flex;
    align-items: center;
    font-family: 'Bree Serif', serif;
    color: #5f212e;
    font-size: 16px;
  }
  
  .lightning-icon {
    width: 20px;
    height: 20px;
    background-color: #69abc1;
    margin-right: 5px;
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
  }
  