.airline-selection {
    width: 1400px;
    height: 1024px;
    font-family: Arial, sans-serif;
    color: #5E3A35;
  }
  
  .header {
      width: 1400px;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #6FAEC9;
      padding: 10px 20px;
      position: relative;
    }
  
    .head-logo {
      width: 80px;
      height: 70px;
      left: 65px;
      top: 37px;
      position: absolute;
    }
  
    /* .logo {
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    } */
    
    .app-name {
      margin-left: 10px;
      font-size: 18px;
      color: #5E3A35;
    }
    
    /* .nav {
      display: flex;
      gap: 10px;
    } */
    
    /* .nav button {
      background-color: #ffffff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      color: #5E3A35;
    } */
    
    .navbar1 {
      position: absolute;
      width: 141.019px;
      height: 37.469px;
      top: 55px;
      left: 210px;
      background: #ffffff;
      z-index: 23;
      border-radius: 9.38px;
    }
  
    .home {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 57px;
      height: 30px;
      top: 3.738px;
      left: calc(50% - 29.3px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 21.799999237060547px;
      font-weight: 400;
      line-height: 29.604px;
      text-align: center;
      white-space: nowrap;
      z-index: 24;
    }
  
    .navbar2 {
      position: absolute;
      width: 141.019px;
      height: 37.469px;
      top: 55px;
      left: 370.469px;
      background: #ffffff;
      z-index: 20;
      border-radius: 9.38px;
    }
    .flight {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 58px;
      height: 30px;
      top: 3.738px;
      left: calc(50% - 28.77px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 21.799999237060547px;
      font-weight: 400;
      line-height: 29.604px;
      text-align: center;
      white-space: nowrap;
      z-index: 21;
    }
    .navbar3 {
      position: absolute;
      width: 141.019px;
      height: 37.469px;
      top: 55px;
      left: 530.938px;
      background: #ffffff;
      z-index: 17;
      border-radius: 9.38px;
    }
    .benefits {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 80px;
      height: 30px;
      top: 4.087px;
      left: calc(50% - 40.24px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 21.799999237060547px;
      font-weight: 400;
      line-height: 29.604px;
      text-align: center;
      white-space: nowrap;
      z-index: 18;
    }
    .navbar4 {
      position: absolute;
      width: 141.019px;
      height: 37.469px;
      top: 55px;
      left: 690.406px;
      background: #ffffff;
      z-index: 14;
      border-radius: 9.38px;
    }
    .help-center {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 115px;
      height: 30px;
      top: 4.087px;
      left: calc(50% - 57.71px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 21.799999237060547px;
      font-weight: 400;
      line-height: 29.604px;
      text-align: center;
      white-space: nowrap;
      z-index: 15;
    }
  
    /* .search-bar {
      left: 50px;
      top: 50px;
      background-color: #E8E8E8;
      width: 280px;
      height: 30px;
      border-radius: 15px;
    } */
    
    /* .main-content {
      top: 500px;
      left: 200px;
      width: 400px;
      height: 40px;
      padding: 20px;
      background-color: #FAF8F5; */
      
      /* display: flex;
      justify-content: center;
      align-items: center; */
    /* } */
    
    .flight-details {
      /* display: flex; */
      margin-top: 100px;
      /* left: 200px; */
      width: 600px;
      height: 400px;
      top: 200px;
      background-color: #FAF8F5;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      /* justify-content: center;
      align-items: center; */
      margin-left: 400px;
    }
    
    .flight-images {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
    
    .main-image {
      background-color: #E8D2C5;
      width: 200px;
      height: 150px;
      margin-bottom: 10px;
    }
    
    .sub-images {
      display: flex;
      gap: 10px;
    }
    
    .sub-image {
      background-color: #E8D2C5;
      width: 95px;
      height: 95px;
    }
    
    .flight-info {
      display: flex;
      flex-direction: column;
    }
    
    .flight-info h2 {
      font-size: 20px;
      color: #6E2B32;
      margin-bottom: 10px;
    }
    
    .points {
      font-size: 18px;
      color: #333;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    
    .lightning-icon {
      margin-right: 10px;
      color: #007BFF;
    }
    
    .selection-group {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }
    
    .selection {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .selection label {
      font-weight: bold;
    }
    
    .selection button {
      background-color: #ffffff;
      border: 1px solid #5E3A35;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .redeem-button {
      background-color: #6FAEC9;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      align-self: flex-start;
      border-radius: 5px;
    }
    
  
     /* :root {
      --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    }
    
    .main-container {
      overflow: hidden;
    }
    
    .main-container,
    .main-container * {
      box-sizing: border-box;
    }
    
    input,
    select,
    textarea,
    button {
      outline: 0;
    }
    
    .main-container {
      position: relative;
      width: 1440px;
      height: 1024px;
      margin: 0 auto;
      background: #f5f5f5;
      overflow: hidden;
    }
    .rectangle {
      position: relative;
      width: 1185px;
      height: 705px;
      margin: 274px 0 0 125px;
      background: #5f212e;
      overflow: visible auto;
      border-radius: 64px;
    }
    .rectangle-1 {
      position: relative;
      width: 1157px;
      height: 673px;
      margin: 15px 0 0 14px;
      background: #ffffff;
      z-index: 1;
      overflow: visible auto;
      border-radius: 64px;
    }
    .flex-row-b {
      position: relative;
      width: 1063px;
      height: 345px;
      margin: 29px 0 0 53px;
      z-index: 45;
    }
    .bangkok-suvarnabhumi-samui {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 477px;
      height: 43px;
      top: 0;
      left: calc(50% - -54.5px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 32px;
      font-weight: 400;
      line-height: 43px;
      text-align: center;
      white-space: nowrap;
      z-index: 21;
    }
    .rectangle-2 {
      position: absolute;
      width: 565px;
      height: 318px;
      top: 16px;
      left: 0;
      background: #d8d1be;
      z-index: 42;
    }
    .ellipse {
      position: absolute;
      width: 64.037px;
      height: 61.994px;
      top: 68px;
      left: 50%;
      background: url(../assets/images/db7c80f5-8f47-4930-8ac5-182e28839b71.png)
        no-repeat center;
      background-size: cover;
      transform: translate(330.28%, 0);
      z-index: 45;
    }
    .airline {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 98px;
      height: 35px;
      top: 72px;
      left: calc(50% - -88.5px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 26px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      white-space: nowrap;
      z-index: 20;
    }
    .image {
      position: absolute;
      width: 90px;
      height: 77.283px;
      top: 138px;
      left: 624px;
      background: url(../assets/images/9c8ecd6f2a7b84c19cd7f5ecc1a19fe1a4cf472a.png)
        no-repeat center;
      background-size: cover;
      z-index: 19;
    }
    .p-6500 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 95px;
      height: 41px;
      top: 153px;
      left: calc(50% - -183.5px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 30px;
      font-weight: 400;
      line-height: 40.74px;
      text-align: center;
      white-space: nowrap;
      z-index: 18;
    }
    .class {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 73px;
      height: 35px;
      top: 228px;
      left: calc(50% - -88.5px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 26px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      white-space: nowrap;
      z-index: 17;
    }
    .rectangle-3 {
      position: absolute;
      width: 170px;
      height: 60px;
      top: 285px;
      left: 620px;
      background: #ffffff;
      border: 1px solid #000000;
      z-index: 15;
      border-radius: 15px;
    }
    .economy {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 115.127px;
      height: 35px;
      top: 10px;
      left: calc(50% - 58.03px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 26px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      white-space: nowrap;
      z-index: 16;
    }
    .rectangle-4 {
      position: absolute;
      width: 170px;
      height: 60px;
      top: 285px;
      left: 814px;
      background: #ffffff;
      border: 1px solid #000000;
      z-index: 12;
      border-radius: 15px;
    }
    .business {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 109.747px;
      height: 35px;
      top: 10px;
      left: calc(50% - 55.87px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 26px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      white-space: nowrap;
      z-index: 13;
    }
    .flex-row-a {
      position: relative;
      width: 984px;
      height: 260px;
      margin: 10px 0 0 53px;
      z-index: 44;
    }
    .rectangle-5 {
      position: absolute;
      width: 280px;
      height: 250px;
      top: 0;
      left: 0;
      background: #d8d1be;
      z-index: 43;
    }
    .rectangle-6 {
      position: absolute;
      width: 270px;
      height: 250px;
      top: 0;
      left: 297px;
      background: #d8d1be;
      z-index: 44;
    }
    .trip {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      height: 33px;
      top: 24px;
      left: 620px;
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 24px;
      font-weight: 400;
      line-height: 32.592px;
      text-align: left;
      white-space: nowrap;
      z-index: 10;
    }
    .rectangle-7 {
      position: absolute;
      width: 170px;
      height: 60px;
      top: 81px;
      left: 620px;
      background: #ffffff;
      border: 1px solid #000000;
      z-index: 8;
      border-radius: 15px;
    }
    .one-way {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      width: 111.899px;
      height: 35px;
      top: 10px;
      left: calc(50% - 56.95px);
      color: #5f212e;
      font-family: Bree Serif, var(--default-font-family);
      font-size: 26px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      white-space: nowrap;
      z-index: 9;
    }
    .rectangle-8 {
      position: absolute;
      width: 170px;
      height: 60px;
      top: 81px;
      left: 814px;
      background: #ffffff;
      border: 1px solid #000000;
      z-index: 5;
      border-radius: 15px; */