.container-dateflight-fd {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.header-addf-fd {
  display: flex;
  background-color: #69ABC1;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.button-group-fd {
  display: flex;
  margin-left: 2%;
  gap: 25px;
}

.addf-logo-fd {
  margin-top: 4%;
  margin-left: 27px;
  width: 100px;
  height: 85px;
}

.home-button-addf-fd {
  display: flex;
  margin-top: 1%;
  margin-left: -72%;
  background-color: #ffffff;
  border: 2px solid #D4E9E2;
  color: #600;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.home-button-addf-fd:hover {
  background-color: #D4E9E2;
}

.profile-section-addf-fd {
  display: flex;
  align-items: center;
  margin-right: 3%;
  gap: 20px;
}

.profile-image-addf-fd {
  width: 65px;
  height: 60px;
  border-radius: 50%;
}

.user-name-addf-fd {
  background-color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
}


.filter-section-addf-fd {
  margin-bottom: 1%;
  padding: 1% 2%;
  margin-left: 70%;
  margin-right: -70%;
}

.date-picker-addf-fd {
  width: 100%;
}

.all-button-addf-fd,
.add-button-addf-fd {
  width: 100%;
}

.filter-table-fd {
  padding: 0% 1%;
} 

